{% extends 'layouts/base.html' %}
{% load custom_filters %}

{% block title %}
    Список категорий
{% endblock %}

{% block content %}
    <div class="container bg-light p-4 mt-4 rounded">

        <h1>Список категорий</h1>
        {% if request.user.is_superuser %}
            <a class="btn btn-outline-success mb-2 mt-2" href="{% url 'category_create' %}">Добавить категорию</a>
        {% endif %}
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-11">
                            <a href="{% url 'equipment_list' %}?category={{ category.name }}">{{ category.name }} {{ category.equipment }}</a>
                        </div>
                        <div class="col-1">
                            {% if user|has_group:"Управляющий" or user|has_group:"Администратор" %}
                                                            <a href="{% url 'category_update' category.id %}"
                               class="btn btn-sm btn-outline-warning"><i
                                    class="fa fa-edit"></i> </a>
                            <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"
                                    data-target="#deleteModal{{ category.id }}"><i class="fa fa-trash-can"></i>
                            </button>
                            {% else %}

                            <a class="btn btn-sm btn-outline-secondary" disabled><i class="fa fa-edit"></i></a>
                            <a class="btn btn-sm btn-outline-secondary" disabled><i
                                    class="fa fa-trash-can"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal fade" id="deleteModal{{ category.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                                </div>
                                <div class="modal-body">
                                    Вы уверены, что хотите удалить категорию "{{ category.name }}"?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена
                                    </button>
                                    <a href="{% url 'category_delete' category.id %}"
                                       class="btn btn-danger">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'dashboard' %}" class="btn btn-sm btn-outline-dark mt-2 mb-2">НАЗАД</a>
    </div>

{% endblock content %}