{% extends 'layouts/base.html' %}

{% block title %}Форма снабжения{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white py-3">
                <h5 class="mb-0">Форма перемещения техники</h5>
            </div>
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="{{ form.date.id_for_label }}" class="form-label">Дата:</label>
                        {{ form.date }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.driver.id_for_label }}" class="form-label">Водитель:</label>
                        {{ form.driver }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.vehicle.id_for_label }}" class="form-label">Автомобиль:</label>
                        {{ form.vehicle }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.brigade_from.id_for_label }}" class="form-label">Из бригады:</label>
                        {{ form.brigade_from }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.brigade_to.id_for_label }}" class="form-label">В бригаду:</label>
                        {{ form.brigade_to }}
                    </div>

                    <h5 class="mt-4">Оборудование:</h5>

                        {{ formset.management_form }}
                        {% for form in formset %}
                            <div id="form-id-{{ form.equipment.id_for_label }}" class="row mb-3 border p-2">
                                {{ form.id }}
                                <div class="col-md-6">
                                    <label for="{{ form.equipment.id_for_label }}"
                                           class="form-label">Оборудование:</label>
                                    {{ form.equipment }}
                                </div>
                                <div class="col-md-2">
                                    <label for="{{ form.quantity.id_for_label }}" class="form-label">Количество:</label>
                                    {{ form.quantity }}
                                </div>
                                <div class="col-md-3">
                                    <label for="{{ form.quantity.id_for_label }}" class="form-label">Комментарий:</label>
                                    {{ form.comment }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.DELETE.label_tag }}
                                    {{ form.DELETE }}
                                </div>
                            </div>
                        {% endfor %}
                    <button type="button" id="add-equipment" class="btn btn-outline-secondary">Добавить оборудование +
                    </button>
                    <br>
                    <br>
                    <button class="btn btn-success" type="submit">Сохранить</button>
                </form>
            </div>
        </div>
        <a href="{% url 'vehicle_movement_list' %}" class="btn btn-secondary mt-3">Назад</a>
    </div>
{% endblock %}
{% block extrascript %}
    {% if '_update' not in request.path %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                const maxForms = {{ formset.management_form.TOTAL_FORMS.value }};
                const formset = [
                    $("#form-id-id_vehiclemovementequipment_set-1-equipment"),
                    $("#form-id-id_vehiclemovementequipment_set-2-equipment"),
                    $("#form-id-id_vehiclemovementequipment_set-3-equipment"),
                    $("#form-id-id_vehiclemovementequipment_set-4-equipment"),
                    $("#form-id-id_vehiclemovementequipment_set-5-equipment"),
                    $("#form-id-id_vehiclemovementequipment_set-6-equipment"),
                    $("#form-id-id_vehiclemovementequipment_set-7-equipment"),
                    $("#form-id-id_vehiclemovementequipment_set-8-equipment"),
                    $("#form-id-id_vehiclemovementequipment_set-9-equipment"),
                    $("#form-id-id_vehiclemovementequipment_set-10-equipment")
                ]
                for (let i = 0; i < maxForms; i++) {
                    formset[i].prop('hidden', true)
                }
                $("#add-equipment").click(function () {
                    if (formset[7].prop('hidden') === false) {
                        $("#add-equipment").prop('disabled', true)
                    }
                    for (let i = 0; i < maxForms; i++) {
                        if (formset[i].prop('hidden') === true) {
                            formset[i].prop('hidden', false)
                            break
                        }
                    }
                });
            });
        </script>
    {% endif %}
{% endblock extrascript %}

