{% extends "layouts/base.html" %}

{% block content %}
    <div class="m-5">
        <div class="row">
            <div class="col-3">
                <h1>База транспорта</h1>
                <a href="{% url 'vehicle_create' %}" class="btn btn-success mb-3"><i class="fa fa-plus"></i> Добавить
                    автомобиль</a>
                {% include 'dashboard/transfers/_vehicle_table.html' %}
            </div>
            <div class="col-8">
                <h1>Снабжение</h1>
                <a href="{% url 'vehicle_movement_create' %}" class="btn btn-success mb-3"><i class="fa fa-plus"></i>
                    Добавить движение</a>
                {% include 'dashboard/transfers/_vehicle_movement_table.html' %}
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}
{% block extrascript %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>

    <script>
        let table1 = new DataTable('#vehicle_table', {
            sorting: false,
            searching: false,
            columnDefs: [
                {"orderable": false, "targets": [3]}
            ],
            paging: false,
            language: {
                info: ' ',
                infoEmpty: 'Нет записей',
                infoFiltered: '(filtered from _MAX_ total records)',
                lengthMenu: 'Показать _MENU_ на странице',
                zeroRecords: 'Nothing found - sorry'
            },
            stateSave: true,
        });

        let table2 = new DataTable('#movement_table', {
            sorting: false,
            searching: false,
            columnDefs: [
                {"orderable": false, "targets": [5]}
            ],
            paging: false,
            language: {
                info: ' ',
                infoEmpty: 'Нет записей',
                infoFiltered: '(filtered from _MAX_ total records)',
                lengthMenu: 'Показать _MENU_ на странице',
                zeroRecords: 'Nothing found - sorry'
            },
            stateSave: true,
        });
    </script>
{% endblock extrascript %}