{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block extrastyle %}
    <style>
        html,
        body {
            height: 100%;
        }

        .form-signin {
            max-width: 330px;
            padding: 1rem;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }
    </style>

{% endblock extrastyle %}

{% block content %}
    <body
            style="
            background: url('{% static "img/main-bg.jpg" %}');
            background-size:cover;
            ">
    <div class="form-signin w-100 mt-5 m-auto bg-secondary-subtle rounded">
        <form role="form" method="post" action="">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <span class="text-danger">{{ error }}</span>
                    <br/><br/>
                    <span class="text-danger">Если вы забыли ваш логин или пароль обратитесь к вашему системному администратору</span>

                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <img class="mb-4 m-4" src="{% static 'img/login.png' %}" alt="" width="240" height="240">

            <h1 class="h3 mb-3 fw-normal">Войти в систему</h1>

            <label class="form-label" for="username">Логин:</label>
                {{ form.username }}
            <label class="form-label" for="username">Пароль:</label>
                {{ form.password }}

            <button class="btn btn-primary w-100 py-2 mt-5" type="submit">Войти</button>
        </form>
    </div>
    </body>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
