<div class="col-md-3">
    <div class="card">
        <div class="card-header">
            <h5 class="m-3">Условные обозначения</h5>
        </div>
        <div class="card-body">
            <ul>
                <li><span style="background-color: #e4c89c"
                          class="li p-2 m-1 badge rounded text-dark border"> (ЗБС) Бурение</span></li>
                <li><span style="background-color: #d6ab8f" class="li p-2 m-1 badge rounded text-dark border"> (ЗБС) бурение горизонта</span>
                </li>
                <li><span style="background-color: #ae7e59" class="li p-2 m-1 badge rounded text-light border"> (ЗБС) шаблонирование + ГИС</span>
                </li>
                <li><span style="background-color: #673412" class="li p-2 m-1 badge rounded text-light border">(ЗБС) спуск хвостовика</span>
                </li>
                <hr>
                <li><span style="background-color: #bfe3e2" class="li p-2 m-1 badge rounded text-dark border"> (ВНС) бурение кондуктора</span>
                </li>
                <li><span style="background-color: #29b4c6"
                          class="li p-2 m-1 badge rounded text-dark border"> (ВНС) бурение ЭК</span></li>
                <li><span style="background-color: #168898" class="li p-2 m-1 badge rounded text-light border"> (ВНС) бурение горизонта</span>
                </li>
                <li><span style="background-color: #0e5e7a" class="li p-2 m-1 badge rounded text-light border">(ВНС) спуск хвостовика</span>
                </li>
                <hr>
                <li><span style="background-color: #399c3a"
                          class="li p-2 m-1 badge rounded text-light border"> Переезд</span></li>
                <li><span style="background-color: #faf8f9"
                          class="li p-2 m-1 badge rounded text-dark border"> Простой</span></li>
                <li><span style="background-color: #ff0000"
                          class="li p-2 m-1 badge rounded text-light border"> Авария</span></li>
            </ul>
        </div>
    </div>
</div>