{% load custom_filters %}
{% block content %}

    <div class="container mt-4">
        <h1>Список пользователей</h1>
        <p><a href="{% url 'group_list' %}" class="btn btn-outline-dark mb-2">Редактировать группы</a></p>
        <p><a href="{% url 'user_create' %}" class="btn btn-outline-success mb-2"><i class="fa fa-plus-square"></i> Создать пользователя</a></p>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Имя пользователя</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Должность</th>
                <th>Тел.</th>
                <th>Email</th>
                <th>Группы</th>
                <th>Суперпользователь</th>
                <th>Действия</th>

            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{% if user.profile.position %}{{ user.profile.position }}{% else %}---{% endif %}</td>
                    <td>{% if user.profile.phone_number %}{{ user.profile.phone_number }}{% else %}---{% endif %}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for group in user.groups.all %}
                            <span class="badge bg-info">{{ group.name }}</span>
                        {% empty %}
                            ---
                        {% endfor %}
                    </td>
                    <td>{{ user.is_superuser|yesno:"✅,🛑" }}</td>
                    <td>
                        {% if request.user|has_group:"Администратор" %}
                            <a href="{% url 'user_update' user.id %}" class="btn btn-sm btn-outline-warning"><i
                                    class="fa fa-edit"></i></a>
                            <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"
                                    data-target="#deleteModal{{ user.id }}"><i class="fa fa-trash-can"></i></button>
                        {% else %}
                            <a class="btn btn-sm btn-outline-secondary"><i
                                    class="fa fa-edit"></i></a>
                            <a type="button" class="btn btn-sm btn-outline-secondary"><i
                                    class="fa fa-trash-can"></i></a>
                        {% endif %}
                        <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                                    </div>
                                    <div class="modal-body">
                                        Вы уверены, что хотите удалить пользователя "{{ user.username }}"?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена
                                        </button>
                                        <a href="{% url 'user_delete' user.id %}"
                                           class="btn btn-danger">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9">Нет данных о пользователях.</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <a href="{% url 'dashboard' %}" class="btn btn-secondary mb-2">Назад</a>

    </div>

{% endblock content %}