<div class="col-md-3">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title m-4">Условные обозначения</h5>
        </div>
        <div class="card-body">
            <ul>
                <li><span class="p-3 m-2 text-dark badge bg-warning">Я - Обычная работа</span></li>
                <li><span class="p-3 m-2 text-dark badge bg-warning-subtle">Г - Работа по геологии</span></li>
                <li><span class="p-3 m-2 text-dark badge bg-info-subtle">О - Обслуживание</span></li>
                <li><span class="p-3 m-2 text-dark badge bg-success-subtle">С - Работа стажера</span></li>
            </ul>
        </div>
    </div>
</div>