    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
{#            <th><a href="?sort_by=id{% if request.GET.sort_by == 'id' and request.GET.order == 'asc' %}&order=desc{% elif request.GET.sort_by != 'id' %}&order=asc{% else %}&order=asc{% endif %}&page={{ page_obj.number }}">ID</a></th>#}
            <th><a href="?sort_by=serial{% if request.GET.sort_by == 'serial' and request.GET.order == 'asc' %}&order=desc{% elif request.GET.sort_by != 'serial' %}&order=asc{% else %}&order=asc{% endif %}&page={{ page_obj.number }}">Идентификатор оборудования</a></th>
            <th><a href="?sort_by=name{% if request.GET.sort_by == 'name' and request.GET.order == 'asc' %}&order=desc{% elif request.GET.sort_by != 'name' %}&order=asc{% else %}&order=asc{% endif %}&page={{ page_obj.number }}">Название</a></th>
            <th><a href="?sort_by=category{% if request.GET.sort_by == 'category' and request.GET.order == 'asc' %}&order=desc{% elif request.GET.sort_by != 'category' %}&order=asc{% else %}&order=asc{% endif %}&page={{ page_obj.number }}">Категория</a></th>
            {% if not 'brigade' in request.path %}<th><a href="?sort_by=brigade{% if request.GET.sort_by == 'brigade' and request.GET.order == 'asc' %}&order=desc{% elif request.GET.sort_by != 'brigade' %}&order=asc{% else %}&order=asc{% endif %}&page={{ page_obj.number }}">Бригада</a></th>{% endif %}
            <th><a href="?sort_by=manufacturer{% if request.GET.sort_by == 'brigade' and request.GET.order == 'asc' %}&order=desc{% elif request.GET.sort_by != 'brigade' %}&order=asc{% else %}&order=asc{% endif %}&page={{ page_obj.number }}">Изготовитель</a></th>
            <th>Документы</th>
            <th><a href="?sort_by=date_release{% if request.GET.sort_by == 'date_release' and request.GET.order == 'asc' %}&order=desc{% elif request.GET.sort_by != 'date_release' %}&order=asc{% else %}&order=asc{% endif %}&page={{ page_obj.number }}">Дата выпуска оборудования</a></th>
             <th><a href="?sort_by=date_exploitation{% if request.GET.sort_by == 'date_exploitation' and request.GET.order == 'asc' %}&order=desc{% elif request.GET.sort_by != 'date_exploitation' %}&order=asc{% else %}&order=asc{% endif %}&page={{ page_obj.number }}">Дата ввода в эксплуатацию</a></th>
            <th>Состояние</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for equipment in equipments %}
            <tr>
{#                <td>{{ equipment.id }}</td>#}
                <td><a class="link-success link-offset-2" href="{% url 'equipment_detail' equipment.id %}"><b>{{ equipment.serial }}</b></a></td>
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.category }}</td>
                {% if not 'brigade' in request.path %}<td>{% if equipment.brigade %}{{ equipment.brigade }}{% else %}---{% endif %}</td>{% endif %}
                <td>{% if equipment.manufacturer %}{{ equipment.manufacturer }}{% else %}---{% endif %}</td>
                <td>
                    {% if equipment.brigade %}
                        {{ equipment.documents.count }}
                        <a href="{% url 'equipment_add_document' equipment.id equipment.brigade.id %}"
                        class="link-underline-opacity-100-hover link-success"><i class="fa fa-circle-info"></i></a>
                    {% else %}
                        <a href="{% url 'equipment_update' equipment.id %}"
                        class="link-underline-opacity-100-hover link-warning">Нет Бригады</a>
                    {% endif %}
                </td>
                <td><small>{{ equipment.date_release|date:"d-m-Y" }}</small></td>
                <td><small>{{ equipment.date_exploitation|date:"d-m-Y" }}</small></td>
                <td>
                    {% if equipment.condition == 'work' %}
                        <span class="badge bg-success rounded">{{ equipment.get_condition_display }}</span>
                    {% elif equipment.condition == 'repair' %}
                        <span class="badge bg-warning rounded">{{ equipment.get_condition_display }}</span>
                    {% elif equipment.condition == 'faulty' %}
                        <span class="badge bg-danger rounded">{{ equipment.get_condition_display }}</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% if 'brigade' in request.path %}{% url 'equipment_update_by_brigade' equipment.id equipment.brigade.id %}{% else %}{% url 'equipment_update' equipment.id %}{% endif %}" class="btn btn-sm btn-outline-warning"><i
                            class="fa fa-edit"></i> </a>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"
                            data-target="#deleteModal{{ equipment.id }}"><i class="fa fa-trash-can"></i>
                    </button>

                    <div class="modal fade" id="deleteModal{{ equipment.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                                </div>
                                <div class="modal-body">
                                    Вы уверены, что хотите удалить оборудование "{{ equipment.name }}"?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена
                                    </button>
                                    <a href="{% url 'equipment_delete' equipment.id %}" class="btn btn-danger">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8">Нет данных об оборудовании.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   {% include 'includes/pagination.html' %}
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-sm btn-outline-dark mt-2 mb-2">НАЗАД</a>
