{% load custom_filters %}

<table id="equipment_table" class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Категория</th>
        <th>Название</th>
        <th>Серийный номер</th>

        {% if not 'brigade' in request.path %}
            <th>Бригада</th>
        {% endif %}
        <th>Изготовитель
            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                    data-target="#manufacturers-modal">
                <i class="fa fa-edit"></i>
            </button>
            <div class="modal fade" id="manufacturers-modal" tabindex="-1" role="dialog"
                 aria-labelledby="manufacturers-modal-label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="manufacturers-modal-label">Изготовители</h5>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Изготовитель</th>
                                    <th>Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for manufacturer in manufacturers %}
                                    <tr>
                                        <td>{{ manufacturer.name }}</td>
                                        <td>
                                            <a href="{% url 'manufacturer_delete' manufacturer.id %}"
                                               class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </th>
        <th>Документы</th>
        <th>выпуска оборудования</th>
        <th>ввода в эксплуатацию</th>
        <th>от</th>
        <th>до</th>
        <th>Состояние</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for equipment in equipments %}
        <tr>


            <td>{{ equipment.category }}</td>
            <td>{{ equipment.name }}</td>
            <td><a class="link-success link-offset-2"
                   href="{% url 'equipment_detail' equipment.id %}?search={{ request.GET.search }}&page={{ request.GET.page }}&category={{ request.GET.category }}"><b>{{ equipment.serial }}</b></a></td>

            {% if not 'brigade' in request.path %}
                <td>{% if equipment.brigade %}{{ equipment.brigade }}{% else %}---{% endif %}</td>{% endif %}
            <td>{% if equipment.manufacturer %}{{ equipment.manufacturer }}{% else %}---{% endif %}</td>

            <td>
                {% if equipment.brigade %}

                    {% if equipment.documents.count %}
                        {{ equipment.documents.count }}
                        <a href="{% url 'equipment_add_document' equipment.id equipment.brigade.id %}?search={{ request.GET.search }}&page={{ request.GET.page }}&category={{ request.GET.category }}"
                           class="link-underline-opacity-100-hover link-success"><i class="fa fa-circle-info"></i></a>
                    {% else %}
                        ---

                    {% endif %}

                {% else %}

                    <a href="{% url 'equipment_update' equipment.id %}"
                       class="link-underline-opacity-100-hover link-warning">Нет Бригады</a>

                {% endif %}
            </td>

            <td><small>{{ equipment.date_release|date:"d-m-Y" }}</small></td>
            <td><small>{{ equipment.date_exploitation|date:"d-m-Y" }}</small></td>
            <td><small>{{ equipment.certificate_start|date:"d-m-Y" }}</small></td>
            <td>
                {% if equipment.certificate_end < now_date %}
                    <small class="text-danger fw-bold">{{ equipment.certificate_end|date:"d-m-Y" }}</small>
                {% else %}
                    <small>{{ equipment.certificate_end|date:"d-m-Y" }}</small>
                {% endif %}
            </td>

            <td>
                {% if equipment.condition == 'work' %}

                    <span class="badge bg-success rounded">{{ equipment.get_condition_display }}</span>

                {% elif equipment.condition == 'repair' %}

                    <span class="badge bg-warning rounded">{{ equipment.get_condition_display }}</span>

                {% elif equipment.condition == 'faulty' %}

                    <span class="badge bg-danger rounded">{{ equipment.get_condition_display }}</span>

                {% endif %}
            </td>
            <td>
                {% if user|has_perm_in_group:"Dashboard.change_equipment" %}
                    <a href="{% if 'brigade' in request.path %}{% url 'equipment_update_by_brigade' equipment.id equipment.brigade.id %}{% else %}{% url 'equipment_update' equipment.id %}?search={{ request.GET.search }}&page={{ request.GET.page }}&category={{ request.GET.category }}{% endif %}"
                       class="btn btn-sm btn-outline-warning"><i
                            class="fa fa-edit"></i> </a>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"
                            data-target="#deleteModal{{ equipment.id }}"><i class="fa fa-trash-can"></i>
                    </button>
                {% else %}
                    <a class="btn btn-sm btn-outline-secondary"><i
                            class="fa fa-edit"></i></a>
                    <a type="button" class="btn btn-sm btn-outline-secondary"><i
                            class="fa fa-trash-can"></i></a>
                {% endif %}


                <div class="modal fade" id="deleteModal{{ equipment.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите удалить оборудование "{{ equipment.name }}"?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена
                                </button>
                                <a href="{% url 'equipment_delete' equipment.id %}" class="btn btn-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>---</td>
            <td>---</td>
            {% if 'brigade' in request.path %}
            {% else %}
                <td>---</td>
            {% endif %}
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'includes/pagination.html' %}
