{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container bg-light p-4 mt-4 rounded">
        <h2>Добавление нового оборудования для бригады: {{ brigade }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="brigade">Бригада:</label>
                {{ form.brigade }}
            </div>
            <div class="form-group">
                <label for="category">Категория:</label>
                {{ form.category }}
            </div>
            <div class="form-group">
                <label for="serial">Серийный номер:</label>
                {{ form.serial }}
            </div>
            <div class="form-group">
                <label for="name">Название:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="manufacturer">Изготовитель:</label>
                {{ form.manufacturer }}
            </div>
            <div class="form-group">
                <label for="date_release">Дата выпуска:</label>
                {{ form.date_release }}
            </div>
            <div class="form-group">
                <label for="date_exploitation">Дата ввода в эксплуатацию:</label>
                {{ form.date_exploitation }}
            </div>
            <div class="form-group">
                <label for="condition">Состояние:</label>
                {{ form.condition }}
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a href="{% url 'equipment_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock content %}
