{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container bg-light p-4 mt-4 rounded">
        <h2>Обновить данные об оборудовании</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Бригада:</label>
                {{ form.brigade }}
            </div>
            <div class="form-group">
                <label for="name">Категория:</label>
                {{ form.category }}
            </div>
            <div class="form-group">
                <label for="name">Серийный номер:</label>
                {{ form.serial }}
            </div>
            <div class="form-group">
                <label for="manufacturer">Изготовитель:</label>
                <select class="form-control" id="id_manufacturer" name="manufacturer">
                    <option value="{% if form.manufacturer.value is not None  %}{{ form.manufacturer.value }}{% endif %}">{% if form.manufacturer.value is not None  %}{{ form.manufacturer.value }}{% endif %}</option>
                    {% for mfr in manufacturer %}
                            <option value="{{ mfr.name }}">{{ mfr.name }}</option>
                    {% endfor %}
                    <option value="other">Другой изготовитель</option>
                    <option value="">--- Очистить ---</option>
                </select>
                <input type="text" class="form-control mt-2" id="new_manufacturer" name="new_manufacturer"
                       style="display: none;" placeholder="Введите название изготовителя">
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const selectElement = document.getElementById('id_manufacturer');
                    const inputElement = document.getElementById('new_manufacturer');

                    selectElement.addEventListener('change', function () {
                        if (this.value === 'other') {
                            inputElement.style.display = 'block';
                        } else {
                            inputElement.style.display = 'none';
                        }
                    });

                    const form = selectElement.closest('form');
                    if (form) {
                        form.addEventListener('submit', function (event) {
                            if (selectElement.value === 'other' && inputElement.value.trim() === '') {
                                alert('Пожалуйста, введите название изготовителя.');
                                event.preventDefault();
                            }
                        });
                    }
                });
            </script>
                {{ form.documents }}
            <div class="form-group">
                <label for="name">Название:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="name">Дата выпуска:</label>
                {{ form.date_release }}
            </div>
            <div class="form-group">
                <label for="name">Дата ввода в эксплуатацию:</label>
                {{ form.date_exploitation }}
            </div>
                    <div class="form-group">
                <label for="date_exploitation">Начало действия сертификата:</label>
                {{ form.certificate_start }}
            </div>
            <div class="form-group">
                <label for="date_exploitation">Конец действия сертификата:</label>
                {{ form.certificate_end }}
            </div>
            <div class="form-group">
                <label for="name">Состояние:</label>
                {{ form.condition }}
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Обновить</button>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock content %}
