{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container bg-light p-4 mt-4 rounded">
        {% if form.errors %}
            <div class="alert alert-danger mt-2">
                {% for error in form.errors %}
                    {% if "serial" in error %}
                        Ошибка добавления {{ form.serial.error }} Оборудование с таким серийным номером уже существует
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <h2>Добавление нового оборудования для бригады: {{ brigade }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="category">Категория:</label>
                {{ form.category }}
            </div>
            <div class="form-group">
                <label for="serial">Серийный номер:</label>
                {{ form.serial }}
            </div>
            <div class="form-group">
                <label for="name">Название:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="manufacturer">Изготовитель:</label>
                <select class="form-control" id="id_manufacturer" name="manufacturer">
                    <option value="">-- Выберите изготовителя --</option>
                    {% for mfr in manufacturer %}
                        <option value="{{ mfr.name }}">{{ mfr.name }}</option>
                    {% endfor %}
                    <option value="other">Другой изготовитель</option>
                </select>
                <input type="text" class="form-control mt-2" id="new_manufacturer" name="new_manufacturer"
                       style="display: none;" placeholder="Введите название изготовителя">
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const selectElement = document.getElementById('id_manufacturer');
                    const inputElement = document.getElementById('new_manufacturer');

                    selectElement.addEventListener('change', function () {
                        if (this.value === 'other') {
                            inputElement.style.display = 'block';
                        } else {
                            inputElement.style.display = 'none';
                        }
                    });

                    const form = selectElement.closest('form');
                    if (form) {
                        form.addEventListener('submit', function (event) {
                            if (selectElement.value === 'other' && inputElement.value.trim() === '') {
                                alert('Пожалуйста, введите название изготовителя.');
                                event.preventDefault();
                            }
                        });
                    }
                });
            </script>
            <div class="form-group">
                <label for="date_release">Дата выпуска:</label>
                {{ form.date_release }}
            </div>
            <div class="form-group">
                <label for="date_exploitation">Дата ввода в эксплуатацию:</label>
                {{ form.date_exploitation }}
            </div>
            <div class="form-group">
                <label for="date_exploitation">Начало действия сертификата:</label>
                {{ form.certificate_start }}
            </div>
            <div class="form-group">
                <label for="date_exploitation">Конец действия сертификата:</label>
                {{ form.certificate_end }}
            </div>
            <div class="form-group">
                <label for="condition">Состояние:</label>
                {{ form.condition }}
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Добавить</button>
            <a href="{% url 'brigade_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
{% endblock content %}
