{% extends 'layouts/base.html' %}
{% load custom_filters %}
{% block content %}
    {% include 'includes/form_errors.html' %}
    <div class="container bg-light p-4 mt-4 rounded">
        {% if user|has_perm_in_group:"Dashboard.add_document" %}
            <div class="card mt-5">
                <div class="card-body">
                    <h2>Добавить документ</h2>
                    <p class="small">{{ equipment.name }} {{ equipment.serial }}</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ document_form.as_p }}
                        <hr>
                        <button class="btn btn-outline-success" type="submit">Добавить новый</button>
                        <a href="{% url 'equipment_detail' equipment.id %}?search={{ request.GET.search }}&page={{ request.GET.page }}&category={{ request.GET.category }}" class="btn btn-secondary">Назад</a>
                    </form>
                </div>
            </div>
        {% endif %}
        {% if equipment.documents.all %}
            <div class="card mt-5">
                <div class="card-body">
                    <h5>Добавленные документы</h5>
                    <ol>
                        {% for doc in equipment.documents.all %}
                            <li>
                                <div class="row">
                                    <div class="col-11">
                                        {% if user|has_perm_in_group:"Dashboard.view_document" %}
                                            <a href="{{ doc.file.url }}" target="_blank">{{ doc.title }} <small>{{ doc.file.size|filesize_mb }}</small></a>
                                        {% else %}
                                            <a href="#">{{ doc.title }} <small>{{ doc.file.size|filesize_mb }}</small></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-1">

                                        {% if user|has_perm_in_group:"Dashboard.delete_document" %}

                                            <button type="button" class="btn btn-sm btn-outline-danger"
                                                    data-toggle="modal"
                                                    data-target="#deleteModal{{ doc.id }}"><i
                                                    class="fa fa-trash-can"></i>
                                            </button>
                                        {% endif %}

                                        <div class="modal fade" id="deleteModal{{ doc.id }}" tabindex="-1" role="dialog"
                                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Подтверждение
                                                            удаления</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        Вы уверены, что хотите удалить документ "{{ doc.title }}"?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Отмена
                                                        </button>
                                                        <a href="{% url 'document_delete' doc.id %}"
                                                           class="btn btn-danger">Удалить</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <hr>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}