{% extends 'layouts/base.html' %}
{% load custom_filters %}
{% block title %}Детали оборудования: {{ equipment.name }}{% endblock %}
{% block extrastyle %}
{% endblock extrastyle %}
{% block content %}
    <div class="container mt-4 bg-light p-4 rounded">
        <h1>Детали оборудования: {{ equipment.name }}</h1>
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Идентификатор:</strong> {{ equipment.serial }}</li>
                    <li class="list-group-item"><strong>Название:</strong> {{ equipment.name }}</li>
                    <li class="list-group-item"><strong>Категория:</strong> {{ equipment.category.name }}</li>
                    <li class="list-group-item"><strong>Бригада:</strong> {{ equipment.brigade.name }}</li>
                    <li class="list-group-item"><strong>Изготовитель:</strong>
                        {% if equipment.manufacturer %}{{ equipment.manufacturer }}{% else %}-{% endif %}</li>
                    <li class="list-group-item"><strong>Состояние:</strong> {{ equipment.get_condition_display }}</li>
                    <li class="list-group-item"><strong>Дата выпуска:</strong>
                        {% if equipment.date_release %}{{ equipment.date_release }}{% else %}-{% endif %}</li>
                    <li class="list-group-item"><strong>Дата ввода в эксплуатацию:</strong>
                        {% if equipment.date_exploitation %}{{ equipment.date_exploitation }}{% else %}-{% endif %}</li>
                    <li class="list-group-item"><strong>Начало действия сертификата:</strong>
                        {% if equipment.certificate_start %}{{ equipment.certificate_start }}{% else %}-{% endif %}</li>
                    <li class="list-group-item"><strong>Окончание действия сертификата:</strong>
                        {% if equipment.certificate_end %}{{ equipment.certificate_end }}{% else %}-{% endif %}</li>
                    {% if equipment.documents.all %}
                        <li class="list-group-item">
                            <strong>Документы:</strong>
                            {% if user|has_perm_in_group:"Dashboard.add_document" %}
                                <a class="btn btn-outline-success"
                                   href="{% url 'equipment_add_document' equipment.id equipment.brigade.id %}?search={{ request.GET.search }}&page={{ request.GET.page }}&category={{ request.GET.category }}">Добавить
                                    +</a>
                            {% endif %}

                            <ol class="mt-2">
                                {% for document in equipment.documents.all %}
                                    <li class="link-offset-3 item m-2">
                                        {% if document.file.name|is_image %}
                                            <a {% if user|has_perm_in_group:"Dashboard.view_document" %}
                                                href="{{ document.file.url }}" target="_blank"{% else %}href="#"
                                                target="_self"{% endif %}><img src="{{ document.file.url }}"
                                                                               alt="{{ document.title }}"></a>
                                        {% elif document.file.name|is_pdf %}
                                            <a {% if user|has_perm_in_group:"Dashboard.view_document" %}href="{{ document.file.url }}"
                                               target="_blank" {% else %}href="#" target="_self"{% endif %}><i
                                                    class="fa fa-file-pdf file-icon"></i>{{ document.title }}
                                                <small>{{ document.file.size|filesize_mb }}</small></a>
                                        {% elif document.file.name|is_excel %}
                                            <a {% if user|has_perm_in_group:"Dashboard.view_document" %}href="{{ document.file.url }}"
                                               target="_blank" {% else %}href="#" target="_self"{% endif %}><i
                                                    class="fas fa-file-excel file-icon"></i> {{ document.title }}
                                                <small>{{ document.file.size|filesize_mb }}</small></a>
                                        {% elif document.file.name|is_word %}
                                            <a {% if user|has_perm_in_group:"Dashboard.view_document" %}href="{{ document.file.url }}"
                                               target="_blank" {% else %}href="#" target="_self"{% endif %}><i
                                                    class="fas fa-file-word file-icon"></i> {{ document.title }}
                                                <small>{{ document.file.size|filesize_mb }}</small></a>
                                        {% else %}
                                            <a {% if user|has_perm_in_group:"Dashboard.view_document" %}href="{{ document.file.url }}"
                                               target="_blank" {% else %}href="#" target="_self"{% endif %}><i
                                                    class="fas fa-file file-icon"></i>{{ document.title }}
                                                <small>{{ document.file.size|filesize_mb }}</small></a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>

                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <strong>Документы:</strong>
                            <a class="btn btn-outline-success"
                               href="{% url 'equipment_add_document' equipment.id equipment.brigade.id %}?search={{ request.GET.search }}&page={{ request.GET.page }}&category={{ request.GET.category }}">Добавить
                                +</a>
                        </li>
                    {% endif %}
                    {% if user|has_perm_in_group:"Dashboard.change_equipment" %}
                        {% if 'brigade' in request.META.HTTP_REFERER %}
                            <a class="btn btn-outline-success"
                               href="{% url 'equipment_update_by_brigade' equipment.id equipment.brigade.id %}?search={{ request.GET.search }}&category={{ request.GET.category }}">Изменить</a>
                        {% else %}
                            <a class="btn btn-outline-success"
                               href="{% url 'equipment_update' equipment.id %}?search={{ request.GET.search }}&category={{ request.GET.category }}">Изменить</a>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <a href="
            {% if 'brigade' not in request.META.HTTP_REFERER %}{% url 'equipment_list' %}{% else %}{% url 'brigade_detail' equipment.brigade.id %}{% endif %}?search={{ request.GET.search }}&page={{ request.GET.page }}&category={{ request.GET.category }}" class="btn btn-outline-secondary mt-3">
            <i class="bi bi-arrow-left"></i> Назад к списку оборудования
        </a>
    </div>


{% endblock content %}
{% block extrascript %}
{% endblock extrascript %}
