{% extends 'layouts/base.html' %}
{% load custom_filters %}
{% block title %}Оборудование{% endblock title %}
{% block content %}
    <div class="bg-light p-4 m-4 rounded">
        <h2>Список Оборудования</h2>
        {% include 'includes/search.html' %}
        <div class="d-flex justify-content-between mt-4 mb-4">
             {% if user|has_perm_in_group:"Dashboard.add_equipment" %}
                <div class="p-0">
                    <a href="{% url 'equipment_create' %}" class="btn btn-outline-success m-1"><i
                            class="fa fa-plus-square"></i> Добавить оборудование</a>
                </div>
            {% endif %}
            <div class="p-0">
                <a class="btn btn-success m-1" href="{% url 'equipment_export_excel' %}"><i
                        class="fa fa-file-excel"></i>
                    Выгрузить в EXCEL</a>
                <a class="btn btn-success m-1" href="{% url 'equipment_export_csv' %}"><i class="fa fa-file-csv"></i>
                    Выгрузить в CSV</a>
            </div>
        </div>
        {% include 'dashboard/equipment/_equipment_table.html' %}
    </div>
{% endblock content %}