{% load custom_filters %}
{% block content %}

    <div class="p-5 bg-light-subtle">
    <h3 class="mb-5">Сотрудники {{ brigade }}</h3>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Должность</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Тел.</th>
            <th>Email</th>
            <th>Работа_с</th>
            <th>Работа_по</th>
            <th>Работа/Отпуск</th>
            <th>Примечания</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{% if user.profile.position %}{{ user.profile.position }}{% else %}---{% endif %}</td>
                <td>{% if user.first_name %}{{ user.first_name }}{% else %}---{% endif %}</td>
                <td>{% if user.last_name %}{{ user.last_name }}{% else %}---{% endif %}</td>
                <td>{% if user.profile.phone_number %}{{ user.profile.phone_number }}{% else %}---{% endif %}</td>
                <td>{% if user.email %}{{ user.email }}{% else %}---{% endif %}</td>
                <td>{% if user.profile.brigade_start_date %}{{ user.profile.brigade_start_date|date:"d-m-Y" }}{% else %}
                    ---{% endif %}</td>
                <td>{% if user.profile.brigade_end_date %}{{ user.profile.brigade_end_date|date:"d-m-Y" }}{% else %}
                    ---{% endif %}</td>
                <td>{% if user.profile.status %}Работа{% else %}Отпуск{% endif %}</td>
                <td>{% if user.profile.notes %}{{ user.profile.notes }}{% else %}---{% endif %}</td>
                <td>
                    {% if request.user|has_perm_in_group:"auth.change_user" %}
                        <a href="{% url 'user_update_by_brigade' user.id brigade.id %}" class="btn btn-sm btn-outline-warning"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'user_update_by_brigade' user.id brigade.id %}" class="btn btn-sm btn-outline-info"><i class="fa fa-add"></i></a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-secondary"><i
                                class="fa fa-edit"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="9">Нет данных о пользователях.</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <h2 class="text-center">Табель Январь 2025</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
            <th>31</th>
            <th>Всего дней</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'brigade_index' brigade.id %}" class="btn btn-secondary mb-2">Назад</a>
</div>
{% endblock content %}