{% load custom_filters %}
<div class="p-5 bg-light-subtle">
    <h3 class="mb-5">Сотрудники {{ brigade }}</h3>
    <table id="user_table" class="table table-bordered table-striped table-hover mb-5">
        <thead class="thead-dark">
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Тел.</th>
            <th>Email</th>
            <th>Работа_с</th>
            <th>Работа_по</th>
            <th>Работа/Отпуск</th>
            <th>Примечания</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}---{% endif %}</td>
                <td>{% if user.profile.position %}{{ user.profile.position }}{% else %}---{% endif %}</td>
                <td>{% if user.profile.phone_number %}{{ user.profile.phone_number }}{% else %}---{% endif %}</td>
                <td>{% if user.email %}{{ user.email }}{% else %}---{% endif %}</td>
                <td>{% if user.profile.brigade_start_date %}
                    {{ user.profile.brigade_start_date|date:"d-m-Y" }}{% else %}
                    ---{% endif %}</td>
                <td>{% if user.profile.brigade_end_date %}{{ user.profile.brigade_end_date|date:"d-m-Y" }}{% else %}
                    ---{% endif %}</td>
                <td>{% if user.profile.status %}Работа{% else %}Отпуск{% endif %}</td>
                <td>{% if user.profile.notes %}{{ user.profile.notes }}{% else %}---{% endif %}</td>
                <td>
                    {% if request.user|has_perm_in_group:"auth.change_user" %}
                        <a href="{% url 'user_update_by_brigade' user.id user.profile.brigade.id %}"
                           class="btn btn-sm btn-outline-warning"><i class="fa fa-edit"></i></a>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                                data-target="#wa-modal{{ user }}">
                            <i class="fa fa-add"></i>
                        </button>
                        <div class="modal fade" id="wa-modal{{ user }}" tabindex="-1" role="dialog"
                             aria-labelledby="wa-modal{{ user }}-label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="wa-modal{{ user }}-label">Добавить тип работы
                                            для пользователя: <br> {{ user.get_full_name }} </h5>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post"
                                              action="/dashboard/user/user_worker_activity_create/?brigade_id={{ brigade.id }}&user_id={{ user.id }}&month={{ month }}&year={{ year }}">
                                            {% csrf_token %}
                                            <label for="id_date">Дата:</label>
                                            <input type="date" id="id_date" name="date" class="form-control"
                                                   placeholder="YYYY-MM-DD" required>
                                            <input type="hidden" name="brigade" value="{{ brigade.id }}">
                                            <label for="id_work_type">Тип работы:</label>
                                            <select id="id_work_type" name="work_type" class="form-control"
                                                    required>
                                                <option value="Y">Обычная работа (Я)</option>
                                                <option value="G">Работа по геологии (Г)</option>
                                                <option value="O">Обслуживание (О)</option>
                                                <option value="S">Работа стажера (С)</option>
                                                <option value="T">Тех дежурство (Т)</option>
                                                <option value="D">Дежурство (Д)</option>
                                                <option value="N">Наставничество (Н)</option>
                                            </select>

                                            <button type="submit" class="mt-4 btn btn-primary">Добавить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a class="btn btn-sm btn-outline-secondary"><i
                                class="fa fa-edit"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="9">Нет данных о пользователях.</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <h2 class="text-center mt-5">
        <a href="{% url 'brigade_staff' brigade.id %}?month={{ prev_month }}&year={{ prev_year }}"
           class="btn btn-outline-secondary"><<<</a>
        Табель {{ month }}-{{ year }}
        <a href="{% url 'brigade_staff' brigade.id %}?month={{ next_month }}&year={{ next_year }}"
           class="btn btn-outline-secondary">>>></a>
    </h2>
    <table id="staff_actions_table" class="table table-bordered table-responsive">

        <thead>
        <tr>
            <th class="bg-dark-subtle">ФИО</th>
            <th class="bg-dark-subtle">Должность</th>
            {% for day in days %}
                <th class="bg-dark-subtle">{{ day }}</th>
            {% endfor %}
            <th class="bg-dark-subtle">Всего дней</th>
        </tr>
        </thead>
        <tbody>
        {% for data in employee_data %}
            <tr>
                <td class="bg-light-subtle">{{ data.user.get_full_name }}</td>
                <td class="bg-light-subtle">{{ data.user.profile.position }}</td>
                {% for wa in data.wa %}
                    {% if wa.wa %}
                        {% if wa.wa.work_type == 'Y' %}
                            <td class="bg-warning">Я</td>
                        {% elif wa.wa.work_type == 'G' %}
                            <td class="bg-warning-subtle">Г</td>
                        {% elif wa.wa.work_type == 'O' %}
                            <td class="bg-info-subtle">О</td>
                        {% elif wa.wa.work_type == 'S' %}
                            <td class="bg-success-subtle">С</td>
                        {% elif wa.wa.work_type == 'T' %}
                            <td class="bg-secondary-subtle">Т</td>
                        {% elif wa.wa.work_type == 'D' %}
                            <td class="bg-secondary-subtle">Д</td>
                        {% elif wa.wa.work_type == 'N' %}
                            <td class="bg-secondary-subtle">Н</td>
                        {% endif %}
                    {% else %}
                        <td class="bg-light-subtle">-</td>
                    {% endif %}
                {% endfor %}
                <td>
                    {{ data.total_wa }}
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                            data-target="#wa-modal{{ data.user }}">
                        <i class="fa fa-add"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        {% include 'dashboard/users/components/conditional_signs.html' %}
        {% include 'dashboard/users/components/info_add_user_activity.html' %}
    </div>
    <div class="text-center p-3 m-2">
        <a href="{% url 'brigade_index' brigade.id %}" class="btn btn-secondary mb-2">Назад</a>
    </div>
</div>
