{% load custom_filters %}
{% block content %}
    <h2>Список бригад</h2>
    {% include 'dashboard/brigades/brigade_search.html' %}
    <div class="d-flex justify-content-between mt-4 mb-4">
        {% if user|has_perm_in_group:"Dashboard.add_brigade" %}
            <div class="p-0">
                <a href="{% url 'brigade_create' %}" class="btn btn-outline-success m-1"> Добавить бригаду <i
                        class="fa fa-plus-square"></i></a>
            </div>
        {% endif %}
        <div class="p-0">
            <a class="btn btn-success m-1" href="{% url 'brigade_export_excel' %}"><i class="fa fa-download"></i>Выгрузить
                в EXCEL</a>
            <a class="btn btn-success m-1" href="{% url 'brigade_export_csv' %}"><i class="fa fa-download"></i>Выгрузить
                в CSV</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Бригада</th>
            <th>Описание</th>
            <th>Всего оборудования (Ед.)</th>
            <th>Заказчик</th>
            <th>Примечания</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for brigade in brigades %}
            <tr>

                <td><b><a href="{% url 'brigade_index' brigade.id %}" class="link-offset-2 bg-light-subtle p-1 rounded"
                          style="text-decoration: none;">{{ brigade.name }}</a></b></td>
                <td> {% if brigade.description %}{{ brigade.description }}{% else %}---{% endif %}</td>
                <td>
                    <a href="{% url 'brigade_detail' brigade.id %}"
                       class="link-offset-2 text-bg-{% if brigade.equipment_set.count > 0 %}success{% else %}secondary{% endif %} p-1 rounded"
                       style="text-decoration: none;">{{ brigade.equipment_set.count }}</a>
                </td>
                <td>{% if brigade.customer %}{{ brigade.customer }}{% else %}---{% endif %}</td>
                <td>{% if brigade.notes %}{{ brigade.notes }}{% else %}---{% endif %}</td>
                <td>
                    {% if user|has_perm_in_group:"Dashboard.delete_brigade" %}
                        <a href="{% url 'brigade_update' brigade.id %}" class="btn btn-sm btn-outline-warning"><i
                                class="fa fa-edit"></i></a>
                        <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal"
                                data-target="#deleteModal{{ brigade.id }}"><i class="fa fa-trash-can"></i></button>
                        <div class="modal fade" id="deleteModal{{ brigade.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
                                    </div>
                                    <div class="modal-body">
                                        Вы уверены, что хотите удалить бригаду "{{ brigade.name }}"?
                                        После удаления оборудование, привязанное к бригаде "{{ brigade.name }}",
                                        потеряет привязку к данной бригаде и не будет нигде числиться.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена
                                        </button>
                                        <a href="{% url 'brigade_delete' brigade.id %}"
                                           class="btn btn-danger">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a class="btn btn-sm btn-outline-secondary" disabled><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm btn-outline-secondary" disabled><i class="fa fa-trash-can"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Нет данных о бригадах.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'includes/pagination.html' %}
    <a href="{% url 'dashboard' %}" class="btn btn-sm btn-outline-dark mt-2 mb-2">НАЗАД</a>

{% endblock content %}