{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container mt-4">
        <h3>{{ brigade.name }}</h3>
        <p>{{ brigade.description }}</p>
        <hr>
        <h2>Оборудование бригады</h2>
        <a href="{% url 'brigade_list' %}" class="btn btn-outline-dark mb-3">Назад к списку бригад</a>
        {% include 'dashboard/eqiupment/_equipment_table.html' %}
        {% include 'includes/pagination.html' %}
    </div>
{% endblock content %}
{% block extrascript %}
{% endblock extrascript %}