{% extends "layouts/base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}
    {% include 'dashboard/brigades/_brigade_work_total.html' %}
{% endblock %}
{% block extrascript %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>

    <script>

        const urlParams = new URLSearchParams(window.location.search);
        const month_len = parseInt(urlParams.get('month'));
        const year_len = urlParams.get('year')

        if (month_len === 2 && parseInt(year_len) % 4 === 0) {
            targets = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]
        } else if (month_len === 3 || month_len === 5 || month_len === 7 || month_len === 8 || month_len === 10 || month_len === 12) {
            targets = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]
        } else if (month_len === 4 || month_len === 6 || month_len === 9 || month_len === 11) {
            targets = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]
        } else if (month_len === 2 && parseInt(urlParams.get('year')) % 4 !== 0) {
            targets = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
        }

        let table1 = new DataTable('#brigade_actions_table', {
            sorting: false,
            searching: false,
            columnDefs: [
                {"orderable": false, "targets": targets}
            ],
            lengthMenu: [
                [60, 120, 180, -1],
                [60, 120, 180, 'все записи']
            ],
            language: {
                info: ' Показано _PAGE_ из _PAGES_ страниц',
                infoEmpty: 'Нет записей',
                infoFiltered: '(filtered from _MAX_ total records)',
                lengthMenu: 'Показать _MENU_ на странице',
                zeroRecords: 'Nothing found - sorry'
            },
        });
    </script>
{% endblock extrascript %}