{% extends 'layouts/base.html' %}
{% load custom_filters %}
{% block content %}
    <div class="bg-light p-4 m-4 rounded">
        <h3>{{ brigade.name }}</h3>
        <p>{{ brigade.description }}</p>
        <hr>
        <h2>Оборудование бригады</h2>
        {% include 'includes/search.html' %}
        {% if user|has_perm_in_group:"Dashboard.add_brigade" %}
            <a href="{% url 'equipment_create_by_brigade' brigade.id %}" class="btn btn-outline-success mb-3"><i
                    class="fa fa-plus-square"></i> Добавить оборудование</a>
        {% endif %}
        {% include 'dashboard/equipment/_equipment_table.html' %}
    </div>
{% endblock content %}
{% block extrascript %}
{% endblock extrascript %}