{% extends "layouts/base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <div class="card">
        {% include 'dashboard/brigades/_brigade_staff_table.html' %}
    </div>
{% endblock %}
{% block extrascript %}
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>

    <script>
        let table1 = new DataTable('#user_table', {
            sorting: false,
            searching: false,
            columnDefs: [
                {"orderable": false, "targets": [8]}
            ],
            language: {
                info: ' ',
                infoEmpty: 'Нет записей',
                infoFiltered: '(filtered from _MAX_ total records)',
                lengthMenu: 'Показать _MENU_ на странице',
                zeroRecords: 'Nothing found - sorry'
            },
            lengthMenu: [
                [15, 30, 60, -1],
                [15, 30, 60, 'все записи']
            ],
            paging: false,
            stateSave: true,

        });

        const urlParams = new URLSearchParams(window.location.search);
        const month_len = urlParams.get('month');
        const year_len = urlParams.get('year')

        if (month_len === '02' && parseInt(year_len) % 4 === 0) {
            targets = [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
        } else if (month_len === '03' || month_len === '05' || month_len === '07' || month_len === '08' || month_len === '10' || month_len === '12') {
            targets = [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33]
        } else if (month_len === '04' || month_len === '06' || month_len === '09' || month_len === '11') {
            targets = [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32]
        } else if (month_len === '02' && parseInt(urlParams.get('year')) % 4 !== 0){
            targets = [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
        }

        let table2 = new DataTable('#staff_actions_table', {
            sorting: false,
            searching: false,
            columnDefs: [
                {"orderable": false, "targets": targets}
            ],
            lengthMenu: [
                [60, 120, 180, -1],
                [60, 120, 180, 'все записи']
            ],
            paging: false,
            language: {
                info: ' ',
                infoEmpty: 'Нет записей',
                infoFiltered: '(filtered from _MAX_ total records)',
                lengthMenu: 'Показать _MENU_ на странице',
                zeroRecords: 'Nothing found - sorry'
            },
            stateSave: true,
        });
    </script>
{% endblock extrascript %}
