{% extends "layouts/base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}

    <div class="container bg-light p-5 mt-5 rounded">

        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card text-dark-emphasis bg-light-subtle bg-gradient bg-opacity-50 mb-3 h-100">
                    <div class="card-header"><i class="fa fa-helmet-safety"></i> <b>Сотрудников:</b> <span
                            class="badge bg-secondary-subtle text-dark">{{ staff.count }}</span></div>
                    <div class="card-body">
                        <h5 class="card-title">Персонал</h5>
                    </div>
                    <a href="{% url 'brigade_staff' brigade.id %}" class="m-1 btn btn-outline-info">Просмотреть</a>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card text-dark-emphasis bg-light-subtle bg-gradient bg-opacity-50 mb-3 h-100">
                    <div class="card-header"><i class="fa fa-hammer"></i> <b>Единиц:</b> <span
                            class="badge bg-secondary-subtle text-dark">{{ staff.count }}</span></div>
                    <div class="card-body">
                        <h5 class="card-title">Оборудование</h5>
                    </div>
                    <a href="{% url 'brigade_detail' brigade.id %}" class="m-1 btn btn-outline-info">Просмотреть</a>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card text-dark-emphasis bg-light-subtle bg-gradient bg-opacity-50 mb-3 h-100">
                    <div class="card-header"><i class="fa fa-tractor"></i> <b>Работа бригады</b></div>
                    <div class="card-body">
                        <h5 class="card-title">Работа</h5>
                    </div>
                    <a href="{% url 'brigade_work' brigade.id %}" class="m-1 btn btn-outline-info">Просмотреть</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}