{% load static %}
<footer class="bg-light-subtle text-dark py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a class="mt-4" href="{% url 'home' %}"><img style="max-width: 20rem;"
                                                                     src="{% static 'img/rusgeologia_logo.bmp' %}"
                                                                     alt="logo"></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><strong>Фактический адрес:</strong> 628600, РФ, Тюменская область, ХМАО-Югра, г.Нижневартовск,
                        ул.Авиаторов, д.7
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li><strong>Телефон:</strong> +7 (3466) 25-90-49</li>
                    <li><strong>WWW:</strong> <a href="https://www.rgeolog.ru" class="text-dark" target="_blank">www.rgeolog.ru</a>
                    </li>
                    <li><strong>E-mail:</strong> <a href="mailto:office@rgeolog.ru"
                                                    class="text-dark">office@rgeolog.ru</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-center mt-3">
        <span class="text-muted">&copy; {% now "Y" %} Русгеология</span>
    </div>
</footer>
