{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <div id="disk-chart-container" style="width: 7.5rem; height: 4rem;">
            <canvas id="diskChart"></canvas>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">  <!-- mx-auto для центрирования -->
                <li class="nav-item mx-3">  <!-- mx-3 добавляет горизонтальный отступ -->
                    <a class="nav-link fw-bold" href="{% url 'dashboard' %}">Управление</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link fw-bold" href="{% url 'instructions' %}">Помощь</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link fw-bold" href="{% url 'user_detail' request.user.id %}">
                        Личный кабинет
                        {% for group in user.groups.all %}
                            <span class="mx-2">
                        {{ group.name }}
                        </span>
                        {% endfor %}</a>

                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0"> <!-- для выравнивания "Выход" вправо -->
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="nav-link text-body font-weight-bold px-0 p-2"
                                style="  padding: 0;  border: none;  font: inherit;  color: inherit;  background-color: transparent;"
                                type="submit"><span class="d-sm-inline d-none me-3"><i class="fa fa-power-off"></i> ВЫХОД</span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const ctx = document.getElementById('diskChart').getContext('2d');
        const diskData = {{ disk_chart_data|safe }};

        if (diskData) {
            const percentUsed = diskData.percent_used;

            new Chart(ctx, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [percentUsed, 100 - percentUsed],
                        backgroundColor: [
                            'rgb(237,172,182)',
                            'rgb(202,247,251)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    cutout: '30%',
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    return `${diskData.used_gb} из ${diskData.total_gb} Gb`; // Кастомный текст для tooltip
                                }
                            }
                        }
                    },
                    layout: {
                        padding: 10
                    }
                }
            });
        } else {
            document.getElementById('disk-chart-container').innerText = 'Не удалось получить данные о диске';
        }
    });
</script>