{% extends "layouts/base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}

    <div class="container bg-light p-5 mt-5 rounded">
        <h1>Система учета оборудования</h1>
        <p>Добро пожаловать, {{ user.username }}!</p>

        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card text-dark-emphasis bg-light-subtle bg-gradient bg-opacity-50 mb-3 h-100">
                    <div class="card-header"><i class="fa fa-helmet-safety"></i> Бригады: {{ brigades.count }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Список бригад</h5>
                    </div>
                    <a href="{% url 'brigade_list' %}" class="m-1 btn btn-outline-info">Просмотреть</a>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card text-dark-emphasis bg-light-subtle bg-gradient bg-opacity-50 mb-3 h-100">
                    <div class="card-header"><i class="fa fa-list-alt"></i> Категории: {{ categories.count }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Оборудование по категориям</h5>
                    </div>
                    <a href="{% url 'category_list' %}" class="m-1 btn btn-outline-info">Просмотреть</a>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card text-dark-emphasis bg-light-subtle bg-gradient bg-opacity-50 mb-3 h-100">
                    <div class="card-header"><i class="fa fa-hammer"></i> Оборудование: {{ equipment.count }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Полный список доступного оборудования</h5>
                    </div>
                    <a href="{% url 'equipment_list' %}" class="m-1 btn btn-outline-info">Просмотреть</a>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card text-dark-emphasis bg-light-subtle bg-gradient bg-opacity-50 mb-3 h-100">
                    <div class="card-header"><i class="fa fa-file"></i> Документы: {{ document.count }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Полный список документов</h5>
                    </div>
                    <a href="{% url 'document_list' %}" class="m-1 btn btn-outline-info">Просмотреть</a>
                </div>
            </div>

            {% if user|has_group:"Руководитель" or user|has_group:"Администратор" %}
                <div class="col-md-4 mb-3">
                    <div class="card text-dark-emphasis bg-light-subtle bg-gradient bg-opacity-50 mb-3 h-100">
                        <div class="card-header"><i class="fa fa-user"></i> Пользователи: {{ users.count }}</div>
                        <div class="card-body">
                            <h5 class="card-title">Список пользователей</h5>
                        </div>
                        <a href="{% url 'user_list' %}" class="m-1 btn btn-outline-info">Просмотреть</a>
                    </div>
                </div>

            {% endif %}

            {% if user|has_group:"Руководитель" or user|has_group:"Администратор" %}
                <div class="col-md-4 mb-3">
                    <div class="card text-dark-emphasis bg-light-subtle bg-gradient bg-opacity-50 mb-3 h-100">
                        <div class="card-header"><i class="fa fa-down-left-and-up-right-to-center"></i>
                            Перемещений: {{ transfers.count }}</div>
                        <div class="card-body">
                            <h5 class="card-title">Журнал перемещения оборудования</h5>
                        </div>
                        <a href="{% url 'transfer_history' %}" class="m-1 btn btn-outline-info">Просмотреть</a>
                    </div>
                </div>
            {% endif %}

            {% if request.user.is_superuser %}
                <div class="col-md-4 mb-3">
                    <div class="card text-dark-emphasis bg-light-subtle bg-gradient bg-opacity-50 mb-3 h-100">
                        <div class="card-header"><i class="fa fa-font-awesome-logo-full"></i>
                            Записей: {{ user_log.count }}</div>
                        <div class="card-body">
                            <h5 class="card-title">Журнал действий пользователей</h5>
                        </div>
                        <a href="{% url 'user_action_log' %}" class="m-1 btn btn-outline-info">Просмотреть</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}