{% extends 'layouts/base.html' %}

{% block title %}Инструкция{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Инструкция</h1>
        {% if instructions %}
            <div class="row">
                {% for group, instruction in instructions.items %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                {% if group == 'admin' %}
                                    <h2 class="card-title">Инструкция для администратора</h2>
                                {% elif group == 'manager' %}
                                    <h2 class="card-title">Инструкция для управляющего</h2>
                                {% elif group == 'operator' %}
                                    <h2 class="card-title">Инструкция для оператора</h2>
                                {% endif %}
                                {% for category, actions in instruction.items %}
                                    <h3 class="card-subtitle mb-2 text-muted">{{ category }}</h3>
                                    <ul class="list-group list-group-flush">
                                        {% for action in actions %}
                                            <li class="list-group-item">{{ action }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <h2>Таблица разрешений</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Таблицы БД</th>
                <th>Администратор</th>
                <th>Управляющий</th>
                <th>Оператор</th>
            </tr>
            <tr>
                <td>Оборудование</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
            </tr>
            <tr>
                <td>Документы</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
            </tr>
            <tr>
                <td>Бригады</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
                <td>запись 🛑 чтение ✅ удаление 🛑</td>
            </tr>
            <tr>
                <td>Категории</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
                <td>запись 🛑 чтение ✅ удаление 🛑</td>
            </tr>
            <tr>
                <td>Пользователи</td>
                <td>запись ✅ чтение ✅ удаление ✅</td>
                <td>запись 🛑 чтение 🛑 удаление 🛑</td>
                <td>запись 🛑 чтение 🛑 удаление 🛑</td>
            </tr>
            <tr>
                <td>Передача оборудования</td>
                <td>запись 🛑 чтение ✅ удаление 🛑</td>
                <td>запись 🛑 чтение ✅ удаление 🛑</td>
                <td>запись 🛑 чтение 🛑 удаление 🛑</td>
            </tr>
            <tr>
                <td>Логи</td>
                <td>запись 🛑 чтение ✅ удаление 🛑</td>
                <td>запись 🛑 чтение 🛑 удаление 🛑</td>
                <td>запись 🛑 чтение 🛑 удаление 🛑</td>
            </tr>
        </table>

    </div>
{% endblock %}

